
body{
    margin:0px
}
h1.heading{
    text-align: center
}
div.backpic{
    background-image:url('../img/image2.png'); 
    position: relative
}
div.button{
    position: absolute;
    background-image: url('../img/red_circle.png');
    background-size: 90% 90%;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}
.button:hover{
    cursor: pointer;
    background-size: 100% 100%;
    background-position-x: 0%;
    background-position-y: 0%;
}